* {
    margin: 0;
    padding: 0;
}

/* google fonts */
body {
    /* font-family: 'Cinzel Decorative', cursive; */
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Shantell Sans', cursive; */
}

.wrapper1 {
    font-family: 'Shantell Sans', cursive; 
}

.container {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #14b8a6;
    font-family: 'Cinzel Decorative', cursive;
    padding: 1.5rem 1rem;
    color: white;
    grid-column: 1;
    grid-row: 1/3;
    font-size: 1.2rem;
}

.sidebar .top{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.sidebar .middle {
    margin-bottom: 2rem;
}

.sidebar .top div a,
.sidebar .middle div a,
.sidebar .bottom div a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header {
    grid-column: 2;
    grid-row: 1;
}

.main-content {
    background-color: #E7E5E4;
    grid-column: 2;
    grid-row: 2;
}

img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.left2 div img {
    height: 4.5rem;
    width: 4.5rem;
}

svg, .card-footer img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.sidebar .top div a svg,
.sidebar .middle div a svg,
.sidebar .bottom div a svg {
    fill: white;
}

.sidebar .top div a svg {
    height: 3rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* header */
.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 2rem;
    align-items: center;
}

.header .left form {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

button[type="submit"] {
    border: none;
    background-color: white;
}

input[type="search"] {
    border-radius: 1rem;
    border: none;
    background-color: #E7E5E4;
    padding: 0.5rem 1rem;
}

.right, .left2, .right2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.right img {
    cursor: pointer;
}

.right span {
    font-weight: 900;
}

.greeting {
    font-size: 5px;
}

.user-name {
    font-size: 1.5rem;
    font-weight: 900;
}

.left2 {
    justify-content: flex-start;
}

.right2 button {
    background-color: rgba(20, 184, 166, 0.7);
    padding: 1rem;
    font-weight: 500;
    color: white;
    width: 7rem;
    border-radius: 4rem;
    border: none;

}

.right2 button:hover{
    cursor: pointer;
    background-color: rgba(20, 184, 166, 1);;

}

/* main content */
.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 1rem;
}

.projects {
    grid-column: 1;
    grid-row: 1/3;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    display: grid;
    grid-template-rows: 1fr 6fr 2fr 1fr;
    width: 300px;
}

.wrapper1 .card .card-content img {
    width: 280px;
    height: 150px;
    border-radius: 5%;
}